{{define "content"}}

<span v-show="visible">hello</span>

${blogList}
<li v-for="item in blogList">${item.Title}</li>

<i-button @click="show">Default</i-button>

<script>
    let config = {
        el: '#app',
        data: {
            visible: false,
            blogList:[]
        },
        methods: {
            show: function () {
                this.visible = !this.visible;
            },
            getBlogList() {
                axios.get('/list').then((res) => {
                    if (res.data.code == 200) {
                        this.blogList = res.data.data.List
                    }
                })
            }
        },
        mounted() {
            this.init()
            this.getBlogList()
        }
    }
  </script>


{{end}}